{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<div class="row">
			<h3 class="mt-5 mb-5">
				Add City
			</h3>

			{% for message in app.flashes('notice') %}
				<div class="alert alert-success">
					{{message}}
				</div>
			{% endfor %}

			<div class="col-md-6 offset-md-3">
				{{ form_start (city) }}
				<div class="form-group">
					{{ form_label(city.city)}}
					{{ form_widget(city.city, {'attr': {'class':'form-control'}}) }}
				</div>
				<div class="form-group">
					<button class="btn btn-info mt-2 text-white">
						Add City !
					</button>
				</div>

				{{ form_end (city) }}
			</div>
		</div>
	</div>
{% endblock %}
